h1 {
    text-align:center;
    font-size: 60px;
    margin-right: 150px;
    margin-top: 20px;
    color: #1c1c1c;
}

#calculator {
    text-align:center;
    width: 400px;
    margin-left: 450px;
    margin-right: 225px;
    margin-top: 20px;
    background-color: #1c1c1c;
}

#display {
    width: 398px;
    height: 150px;
    text-align: center;
    font-size: 50px;
    background-color: #1c1c1c;
    color: #fff;
    border: none;
}

.light {
    width: 75px;
    height: 75px;
    font-size: 30px;
    border-radius: 50%;
    margin: 10px;
    background-color: #D4D4D2;
    color: #1c1c1c;
    border-style: none;
}

.light:active {
    background-color: rgb(230, 230, 230);
}

.dark {
    width: 75px;
    height: 75px;
    font-size: 30px;
    border-radius: 50%;
    margin: 10px;
    background-color: #505050;
    color: #fff;
    border-style: none;
}

.dark:active {
    background-color: #727171;
}

.orange1 {
    width: 75px;
    height: 75px;
    font-size: 37px;
    border-radius: 50%;
    margin: 10px;
    background-color: #ff9500;
    color: #fff;
    border-style: none;
}

.orange1:active {
    background-color: #ffb752;
}

.orange2 {
    width: 75px;
    height: 75px;
    font-size: 37px;
    border-radius: 50%;
    margin: 10px;
    background-color: #fff;
    color: #ff9500;
    border-style: none;
}

.orange2:active {
    background-color: #ffb752;
}

.zero {
    text-align: left;
    padding-left: 30px;
    width: 175px;
    height: 75px;
    font-size: 37px;
    border-radius: 50px;
    margin: 10px;
    background-color: #505050;
    color: #fff;
    border-style: none;
}

.zero:active {
    background-color: #727171;
}